<% include ./header %>

<div class="container">
	<br><br>
    <h2 style="text-align:center;">All Sprint List</h2>
	<div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
		
		<ul class="list-group">
				
				<% if(data.issue.length){ for(var i=0;i<data.issue.length;i++) { %>
						<% if(data.issue[i].sprint === sprintId) { %>
							<li class="list-group-item"><a href="/issue/fullissueview/<%= data.issue[i]._id %>">
								<%= data.issue[i].summary %>
							</a></li>
						<% } %>
				<% }} %>

		</ul>
	</div>

	<form method="POST" action="/sprint/start/<%= pId %>/<%= sprintId %>">
		<button type="submit" class="btn btn-sm">START</button>
	</form>

	<form method="POST" action="/sprint/end/<%= pId %>/<%= sprintId %>">
		<button type="submit" class="btn btn-sm">END</button>
	</form>
	</div>
	
</div>


<% include ./footer %>